

.title{
    font-size: 30px;
    color: rgb(117, 219, 77);
    text-align: center;
    background-color: rgb(7, 37, 107);
}


/* .bg_image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 200px;
    height: 150px;
} */



.content-box{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.comment-box{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.review_list
{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
}

/* .alert
{
    width:200px;
} */

/* .body{
    background-image: static(sky2.jpg);
} */

img.sky
{
    width: 100px;
}

.books{
    display:flex;
    
}

.navbar {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
  
  .navitem {
    font-size: 18px;
    margin-left: 15px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }