{% extends "home.html" %}
<body>
{% block content %}
    <div class="body">
        
        <div class="content-box">
            <h2> 제목: {{ post.title }}</h2>
            <h4> {{ post.author }}</h4>
            <h3> 리뷰: {{ post.content }}</h3>
            <h3> 가격: {{ post.price }} 원 </h3>
            <h4> 평점: {{ post.rating }} 점</h3>
            <h3> 표지: </h3>
            <img src= "{{ post.img.url }}" class="sky" alt="sky"style="width : 150px;">

            <div class="alert alert-primary" role="alert" width:200px; >
            <a href="{% url 'home' %}">글 목록으로 돌아가기 </a>
            </div><br>
            {% if user.is_authenticated and post.author == user.username %}
            <a href="{% url 'edit' post.pk %}">수정하기</a><br>
            <a href="{% url 'delete' post.pk %}">삭제하기</a><br>
            {% else %}
            {% endif %}
            
            {% comment %} <br><a href="{% url 'delete' posk.pk %}">삭제</a> {% endcomment %}
        </div>
        <div class="comment-box">
            <h3>댓글: </h3>
            <li>
                {% for comment in post.comments.all %} 
                <!-- #이 포스트에 있는 모든 코멘트를 되돌려줌. -->
                    <li>{{ comment.content }}<a href="{% url 'delete_comment' post.pk comment.pk %}">삭제하기</a></li>
                {% endfor %}
            </li>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>