<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book review</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    
        <div class="title">
            <div class="heading">
                <h1>Book Review</h1>
            </div>
        </div>
        
        {% block content %}
        <div class="review_list">
            <h2>리뷰 목록</h2>
            <ul>
                {% for post in posts %} 
                
                <div class="books">
                    <div class="titleofbook">
                    <a href ="{% url 'detail' post.pk %}"}>{{ post.title }}

                    </a><br>
                    </div>
                    <div class="pictureofbook">
                    <img src="{{ post.img.url }}" class="sky" alt="sky"style="width : 150px;">
                    <br>
                    </div>
                </div>
                {% endfor %}
            <ul>
        
            <a href="{% url 'new' %}">글쓰기</a>
        </div>
        {% endblock %}
    </div>
</body>

</body>
</html>